@media only screen and (max-width: 600px) {
  .menu {
    display: none;
}
  .outerdiv a.icon {
    margin: 32px 20px;
    display: block;
    color: black;
 }
  .menu.responsive {
    position: absolute;
    display: inline-block;
    background: #000;
    color: #fff;
    z-index: 9;
    right: 0;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 0;
    top: 30px;
    text-align: center;
    overflow-x: hidden;
}
  .menu.responsive .icon {
    position: absolute;
    left: 0;
    padding: 0;
    right: 15px;
}
  .menu.responsive .list a{
    margin-top: 15px;
    color: white;
}
  .menu.responsive a {
    display: block;
}
  .image-sec {
    max-height: 267px;
}
  .image-block {
    top: 9%;
}
  .head-button {
    background-color: white;
    margin: 20px;
    color: black;
}
  .about-sec {
    margin-top: 30px;
 }
  .content-block {
    margin: 0px 26px;
    max-width: 299px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  .image_aftereffect {
    margin: 34px;
    width: 79%;
    max-width: 376px;
    overflow-x: hidden;
    background-color: pink
}
  .image_aftereffect::after {
    display:  none;
 }
  .blog-section {
    display:  flex;
    flex-direction:  column;
 }
  .content-blog {
    margin-top: 30px;
 }
  .card {
    max-width: 300px;
    width: 100%;
    margin: 10px 28px;
 }
  .custom {
    display:  flex;
    flex-direction: column;
 }
  .info-sec {
     width: 50%;
 }
  .footer li {
     text-align:  left;
 }
  .info-sec ul h3 {
     text-align:  left;
 }
  .head-section .navbar .navbar-nav {
     padding-left: 22px;
 }
  .head-section .navbar .head-button {
     max-width: 119px;
 }
}


/*media query for ipad*/
@media only screen and (max-width: 1024px) and (min-width: 700px) {
 .image_aftereffect {
  margin: 10px;
 }
 .image_effect {
    max-width: 200px;
 }
}


